//
@import 'partials/fontFamily';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

ul{
    display: contents;
    list-style: none;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

.container-small{
    width: 1000px;
    margin: 0 auto;
}

@import 'partials/header';
@import 'partials/mainBanner';
@import 'partials/mainSeries';
@import 'partials/mainShop';
@import 'partials/footerInfo';
@import 'partials/footerSocial';
@import 'partials/productDetail'